<template name="homePage">

	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
	  <li><a data-toggle="tab" href="#material">Course Materials</a></li>
	</ul>

	<div class="tab-content">
	  <div id="home" class="tab-pane fade in active">
	    <h3 style="margin-top: 20px" align="center" >Workplace Health and Safety - G8</h3>

			<div class="row">
				<div id="home" class="col-xs-12 col-sm-6">
			        <div class="box">
						<div class="box-header">
							<div class="no-move"></div>
								<h3 class="page-header">Announcements</h3>
							</div>
							{{> announcement}}
						</div>
			        </div>

					<div class="col-xs-12 col-sm-6" name="classhome">
						<style>
							 p {
							 font-size: 12px;
							 margin-bottom: 0.5em;
							 }
 						</style>
			            <div class="box">
							<div class="box-header">
								<div class="no-move"></div>
								<h3 class="page-header">Class details</h3>
							</div>

							<div class="box-content">
								<p>Course: Workplace Health and Safety</p>
								<p>Course Code: WHS</p>
								<p>Class: G8</p>
								<p>Venue: CR 2.1</p>
								<p>Trainer: John Doe</p>
								<p>Start Date: 03 August 2015</p>
								<p>End Date: 27 November 2015</p>
								<p>Number of Sessions: 30 </p>
								<p>Class Days: Mondays and Wednesdays</p>
								<p>Class Timings: 1:00pm - 5:00pm </p>
								<p>List of equipment:</p>
								<p>- Steel Cutter (SC02)</p>
							</div>
						</div>
			        </div>
				</div>


	  </div>



	<div id="material" class="tab-pane fade">
	    <h3 style="margin-top: 20px" align="center" >Workplace Health and Safety - G8</h3>

			<div class="row">
				<div id="home" class="col-xs-12 col-sm-6">
			        <div class="box">
						<div id="dashboard_links" class="col-xs-12 col-sm-6 pull-left">
							<ul class="nav nav-pills nav-stacked">
								<li class="active"></li>
								<li><a data-toggle="pill" href="#content1">Session 1 (03 Aug)</a></li>
								<li><a data-toggle="pill" href="#content2">Session 2 (05 Aug)</a></li>
								<li><a data-toggle="pill" href="#content3">Session 3 (10 Aug)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 4 (12 Aug)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 5 (17 Aug)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 6 (19 Aug)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 7 (24 Aug)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 8 (26 Aug)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 9 (31 Aug)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 10 (02 Sept)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 11 (07 Sept)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 12 (09 Sept)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 13 (14 Sept)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 14 (16 Sept)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 15 (21 Sept)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 16 (23 Sept)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 17 (26 Sept)</a></li>
								<li><a data-toggle="pill" href="#menu1">Session 18 (30 Sept)</a></li>
							</ul>
						</div>
					</div>

					<div class="tab-content">
					    
					    <div id="content1" class="tab-pane fade">
					      <h3>Session 1</h3>
					      <ul> 
							<a href="#Downloadsmth">Lecture notes 1</a>

					      </ul>
					      
					    </div>


					    <div id="content2" class="tab-pane fade">
					      <h3>Session 2</h3>
					      <a href="#Downloadsmth">Lecture notes 2</a>
					    </div>

					    <div id="content3" class="tab-pane fade">
					      <h3>Session 3</h3>
					      <a href="#Downloadsmth">Lecture notes 3</a>
					    </div>
					    
					  </div>
					</div>










			    </div>
	  		</div>
	
</div>


</template>


<template name="announcement">
	
		<div class="col-xs-12 page-feed">
			<div class="box">
				<div class="page-feed-content">
					<small class="time">Jane Devops, 10 October 2015</small>
					<h2 style="margin-bottom: 1px"> Linux</h2>
					<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
				</div>
			</div>

			

			<div class="box">
				<div class="page-feed-content">
					<small class="time">Jane Devops, 24 Septemer 2015</small>
					<h2 style="margin-bottom: 1px"> Unix</h2>
					<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
					
				</div>
			</div>
		</div>
	
</template>	