<template name="homePage">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
            <div class="box">
				<div class="box-header">
					<div class="no-move"></div>
					<h3 class="page-header">Announcements</h3>
				</div>


				{{> announcement}}



			</div>
        </div>

		<div class="col-xs-12 col-sm-6" name="classhome">
            <div class="box">
				<div class="box-header">
					<div class="no-move"></div>
					<h3 class="page-header">Class details</h3>
				</div>

				<div class="box-content">
					<p>Course: WFA</p>
					<p>Class: G8</p>
					<p>Venue: CR 2.1</p>
					<p>Trainer: John Doe</p>
					<p>Start Date: 03 August 2015</p>
					<p>Number of Sessions: 30 </p>
					<p>Class Timings: Mondays and Wednesdays</p>
					<p>Class Timings: Mondays and Wednesdays</p>
					<p>List of equipment:</p>
					<p>- Steel Cutter (SC02)</p>

				<!-- Insert image here-->
					
				</div>



			</div>
        </div>
	</div>


</template>


<template name="announcement">
	<div class="page-feed-content">
		<small class="time">Jane Devops, 10 October</small>
		<h3>Assignment 3 is due in 5 days.</h3>
		<p>Assignment 3 due in 5 days</p>
	</div>
	<div class="page-feed-content">
		<small class="time">Jane Devops, 10 October</small>
		<h3>Assignment 3 is due in 5 days.</h3>
		<p>Assignment 3 due in 5 days</p>
	</div>
	<div class="page-feed-content">
		<small class="time">Jane Devops, 10 October</small>
		<h3>Assignment 3 is due in 5 days.</h3>
		<p>Assignment 3 due in 5 days</p>
	</div>
</template>	