template(name="websiteCourseDetails")
	style.
		p.templateLineBreak {
			padding-bottom: 10px;
			margin: 5px;
			border-bottom: 1px solid #eee;
		}

		.table tbody > tr > td, 
		.table tbody > tr > th {
			border-top:0px;
		}
		body {
			font-size: 16px;
		}
	#sectionPageWrapper
		.row
			.col-lg-10.col-lg-offset-1
				h1.page-header Course Information
		+courseInfoIndvSignup
		.row
			.col-lg-10.col-lg-offset-1
				p Harlow World

		.row
			.col-lg-10.col-lg-offset-1
				p.templateLineBreak
				button.btn.pull-right.admin-btn(type="submit", style="margin-left:10px; margin-bottom: 30px; margin-right: 5px;") Make Payment
				a.btn.pull-right.admin-btn(onclick="window.history.back()") Back

template(name="courseInfoIndvSignup")
	.row
		.col-lg-10.col-lg-offset-1
			.panel.panel-primary
				.table-responsive
					table.table(style="background-color: black;")
						tbody
							tr
								th 
									label COURSE ID
								td
									input#disabledInput.form-control(type="hidden", name="cId" value="is101", disabled="")
									| is101
								th 
									label COURSE NAME
								td
									input#disabledInput.form-control(type="hidden", name="cName" value="WPA Course 1", disabled="")
									| WPA Course 1
							tr
								th  
									label START DATE
								td  1st January 2016
								th 
									label END DATE
								td 31st July 2016
							tr
								th 
									label No. of Sessions
								td 30

	.row
		.col-lg-10.col-lg-offset-1
			.form-group
				label.col-sm-2.control-label Session Timings
				.col-sm-6
					label.radio
						input#group(type="radio", name="group", value="Class 1", checked="")
						| Class 1 (Wednesdays, 13:00 to 15:00)
					label.radio
						input#group(type="radio", name="group", value="Class 2")
						| Class 2 (Wednesdays, 15:30 to 17:00)

