template(name="resetLayout")
  style.
    h1 {
      text-align: center;
      color: #ddd;
      text-shadow: 0px 2px 3px #666;
    }
    .panel-default {
      background-color: #333333;
    }
    .panel-body {
      border-color: #42DCA3;
    }
    body {
      background-color: #333333;
      colour:#42dca3;
      text-align: center;
    }
    i {
      color: #42dca3;
      text-align: center;
    }
    p{
      margin-bottom: 10px
    }
    span {
      border-color: #42dca3;
    }
    .button{
      text-align:center;
    }
    .form{
      align:center

    }
    
    .alignMiddle {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }

  .container.alignMiddle
    h1 Sterling 
    h3(style="color:#ddd") Training Hub
    +yield

template(name="resetPassword")
  .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        p(style="color:#42dca3") Hi there! It seems you have forgotten your password.
        p(style="color:#42dca3") Please key in your email in the text box below. You will receive an email to reset your password
         form#reset-pwd-form(role="form", align="center")
           fieldset
            .form-group.input-group
              span.input-group-addon(style="background-color: #333; border-color: #42dca3")
                i.fa.fa-envelope.fa-fw
              input#login-email.form-control(type="text", style="width:100px text-align:center", placeholder="E-mail", name="email", autofocus="")
            
            input#resetPasswordButton.admin-btn.form-control(type="submit", value="RESET", style="text-align:center; margin:0 0;")

