template(name="certificateManagement")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Certificate Management
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Search Certificate
            
            form(name="", role="form", action="#", method="post")
            .table-responsive
              table#dataTables-example.table
                tbody  
                  //tr
                  //  th Student Name
                  //  td
                  //    input.form-control(type="text", id="studentName")
                  tr
                    th Course
                    td
                      input.form-control(type="text", id="courseCode")
                  tr
                    th Group
                    td
                      input.form-control(type="text", id="groupNum")
            button#filter.btn.btn-save(type="button", data-dismiss="modal") Search

      .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Certificate Management

            .table-responsive(style="width:100%")
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  th Title
                  th Course Name
                  th startDate
                  th endDate
                  th click
                tbody
                  each finishedGroup
                    tr
                      td #{grpNum}
                      td #{courseCode}
                      td #{startDate}
                      td #{endDate}
                      td 
                        button#go(type="button") Go
                    
                    
                
                