template(name="class")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header IS101 G1
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Course Details: IS101 G1
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Course
                    td Workplace Health & Safety
                  tr
                    th Venue
                    td Classroom 2.1
                  tr
                    th No. of Sessions(s)
                    td 30
                  tr
                    th Schedule
                    td Monday and Friday, 10am - 5pm
                  tr
                    th Start Date
                    td 02 September 2015
                  tr
                    th End Date
                    td 27 November 2015
            // /.table-responsive

            h4 Notification Panel
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Title
                    th Details
                    th Date
                    th Author
                  tr
                    td Deadline for Assignment 3
                    td Class, do take note Assignmmment 3 is due next Monday
                    td 10 October 2015
                  tr
                    td Lecture Notes 13
                    td Lecture notes for session 13 has been uploaded
                    td 30 September 2015
                  tr
                    th Rescheduling of this week Wednesday's Class
                    td This Wednesday's class is rescheduled to Saturday (12/09/2015)
                    td 04 September 2015
            // /.table-responsive
            
            h4 Class Management
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                tbody
                  tr
                    th Trainer
                    td(colspan="2") CHIA wei ting
                  tr 
                    th Student 1
                    td  
                      input(type="button", value="Assessment")
                    td 
                      input(type="button", value="Drop Student")
                   tr 
                    th Student 2
                    td  
                      input(type="button", value="Assessment")
                    td 
                      input(type="button", value="Drop Student")
            // /.table-responsive
            // /.row
          // /.panel-body
        // /.panel
      // /.col-lg-12
    // /.row
  // /#page-wrapper

