template(name="course")
  style.
    .breakH4 {
      margin-top: 40px;
    }
  script(type='text/javascript').
      $('#myModal').modal('hide');
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Course: IS101
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default(data-dismiss="modal")
          .panel-body
            h4 Course Details
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Course Code
                    th IS101
                  tr
                    th Course Name
                    td=courses.courseName
                  tr
                    th Course Type
                    td=courses.courseType
                  tr
                    th Description
                    td Hands-on and Theory lesson with 2 practical test
                  tr 
                    th No. of Session(s)
                    td 10
                  tr 
                    th Capacity
                    td 10(min), 30(max)
                  tr
                  tr
                    th Fees
                    td=courses.courseType
                  tr
                    td
                    td 
                      button.btn.admin-btn.btn-sn(data-toggle="modal", data-target="#myModal")
                        | Edit Details
            // /.table-responsive
            // Button trigger modal
            // Modal
            #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                    h4#myModalLabel.modal-title Edit Course Detail
                  .modal-body
                    form(name="", role="form", action="facilityResult", method="post")
                    .table-responsive
                      table#dataTables-example.table
                        tbody
                          tr
                            th Course Code
                            td 
                              .form-group
                                input.form-control(type="text", name="cCode", value=course.courseCode)
                          tr
                            th Course Name
                            td 
                              .form-group
                                input.form-control(type="text", name="cName", value="is101")
                          tr
                            th Description
                            td 
                              .form-group
                                textarea.form-control(name="cDesc")
                          tr
                            th No. of Session(s)
                            td
                              .form-group
                                select.form-control(name="cSession")
                                  option 1
                                  option 2
                                  option 3
                                  option 4
                                  option 5
                                  option 6
                                  option 7
                          tr
                            th Fees
                            td
                              .form-group.input-group
                                span.input-group-addon $
                                input.form-control(type="text")
                                span.input-group-addon .00
                    // /.table-responsive
                  .modal-footer
                    //button.btn.btn-default(type="button", data-dismiss="modal") Close
                    button.btn.btn-save(type="button") Save changes
                // /.modal-content
              // /.modal-dialog
            // /.modal
            p.breakH4
            h4 Class Management
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                tbody
                  tr
                    th Trainer
                    td CHIA Wei Ting, POON Lee Wang
                    td 
                      input(type="button", value="Update")
                  tr 
                    th Class List
                    td
                      a(href="class") G1
                      |, G2, G3
                    td(width="50px")
                      input(type="button", value="Update")
                  tr
                    th
                    td
                      |G2, G3
                    td(width="50px")
                      input(type="button", value="Update")
                  tr
                    
              button.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addClass", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Class 
            // /.table-responsive

            p.breakH4
            h4 Course Materials
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                tbody
                  tr
                    th Session
                    th Topic
                    th(colspan="2") Course Materials
                  tr 
                    td 01
                    td Theory 101
                    td Files here
                    td(width="50px") 
                      input(type="button", value="Remove")
                  tr 
                    td 02
                    td Hands-on 101
                    td Files here
                    td(width="50px") 
                      input(type="button", value="Remove")
                  tr
                    td(colspan="4")
                      button.btn.btn-warning.btn-block(data-toggle="modal", data-target="#myModal2")
                        | Upload Course Material(s)
            // /.table-responsive
            // Button trigger modal
            // Modal
            #myModal2.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                    h4#myModalLabel.modal-title Upload Files
                  .modal-body
                    | Select Course Material For Session:
                    .form-group
                      select.form-control(name="cSession")
                        option Session 01
                        option Session 02
                        option Session 03                          
                    input#myFileInput(type="file", name="courseMaterials")
                  .modal-footer
                    button.myFileInputButton.btn.admin-btn(type="button") Upload
                // /.modal-content
              // /.modal-dialog
            // /.modal
            // /.table-responsive
            // /.row
          // /.panel-body
        // /.panel
      // /.col-lg-12
    // /.row
  // /#page-wrapper

template(name="addClass")
  #addClass.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Course
        .modal-body
          form(name="addClassForm", role="form", id="insert-addClassForm", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table
              tbody
                tr
                  th Course Code
                  td
                    .form-group
                      input.form-control(type="text", id="gNewCode", placeholder="eg. IS101")
                tr
                  th Course Name  
                  td 
                    .form-group
                      input.form-control(type="text", id="gNewName") 
                tr
                  th Course Type  
                  td 
                    .form-group
                      input.form-control(type="text", id="gType") 
                tr
                  th Description
                  td 
                    .form-group
                      input.form-control(type="text", id="cNewDesc")
                tr
                  th Fees
                  td 
                    .form-group.input-group
                      span.input-group-addon $
                      input.form-control(type="text", id="cNewFee")
                tr
                  th Trainers
                  td 
                    .form-group
                      input.form-control(type="text", id="cTrainers")
          // /.table-responsive
        .modal-footer
          input.btn.btn-save(type="submit")
      // /.modal-content
    // /.modal-dialog
  // /.modal