template(name="courseList")
  style.
    .panel-body{
      padding: 3%;
    }
    .col-lg-12{
      padding-left: 2%;
      padding-right: 2%;
    }
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Course List
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Course Details
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addCourse" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Course
            +addCourseForm

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Code
                    th Name
                    th Fees
                    th Trainers
                    th Details
                  tr
                    td 
                      a(href="/courseMgmt/course") IS101
                    td Workplace Health & Safety
                    td 01/01/2015
                    td C.R. 1.2
                    td
                      button.btn.admin-btn.btn-sn(data-toggle="modal", data-target="#editCourse")
                        | More Details
            // /.table-responsive
            +viewCourseForm

            // /.row
          // /.panel-body
        // /.panel
      // /.col-lg-12
    // /.row
  // /#page-wrapper



template(name="addCourseForm")
  // Button trigger modal
  // Modal
  #addCourse.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Course
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table
              tbody
                tr
                  th Course Code
                  td
                    .form-group
                      input.form-control(type="text", id="cNewCode", placeholder="eg. IS101")
                tr
                  th Course Name  
                  td 
                    .form-group
                      input.form-control(type="text", id="cNewName") 
                tr
                  th Description
                  td 
                    .form-group
                      input.form-control(type="text", id="cNewDesc")
                tr
                  th Fees
                  td 
                    .form-group.input-group
                      span.input-group-addon $
                      input.form-control(type="text", id="cNewFee")
                      span.input-group-addon .00
                tr
                  th Trainers
                  td 
                    .form-group.input-group
                      input.form-control(type="text", id="cTrainers")
          // /.table-responsive
        .modal-footer
          button.btn.btn-save(type="button") Save changes
      // /.modal-content
    // /.modal-dialog
  // /.modal


template(name="viewCourseForm")
  #editCourse.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Course Detail
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table
              tbody
                tr
                  th(colspan="2") Course Code, Course Name   
                tr
                  td Description:
                  td 
                    Some Description here
                tr
                  td Fees
                  td $120
          // /.table-responsive
        .modal-footer
          a(href="course", class="button btn admin-btn") Enter Course Page
      // /.modal-content
    // /.modal-dialog
  // /.modal