template(name="formRespo")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header LSP Form Template Repository
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Search For LSP Template
            .table-responsive
              table#dataTables-example.table.table-bordered
                tbody
                  tr
                    th  Search
                    td
                      input#cftLSPFormSearchInput.form-control(type='text')
                    th  Type of Form
                    td(style='width: 50%;')
                      select#typeOfForm
                        option(value='Course') Course
                        option(value='Facility') Facility
                        option(value='Trainer') Trainer
                        option(value='Review Form') Review
                        option(value='Feedback Form') Feedback
                        option(value='Checklist') Checklist
                        option(value='Others') Others
            button#filter.btn.btn-save(style='position: static; margin-bottom:1%; margin-left:91%; background: #333; color:#fff')
              | Search
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 LSP Form
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addLSPTemplateForm" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | LSP Template
            +addLSPTemplateForm

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Form Name
                    th Category
                    th Upload Date
                    th Download
                    th Version Number
                tbody
                  each upload
                    tr
                      td #{name}
                      td #{category}
                      td #{uploadedAt}
                      td(width="50px") 
                        a(href="{{url download = true}}", class="button btn admin-btn") Download
                      td #{version}


template(name="addLSPTemplateForm")
  #addLSPTemplateForm.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New LSP Template
        .modal-body
          form(role="form", id="insert-addLSPForm", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Category
                  td 
                    .form-group
                      //- input.form-control(type="text", id="categoryName")
                      select(id="categoryName", style="color: black")
                        option(value="") Select Option
                        option(value="Review Form") Review Form
                        option(value="Feedback Form") Feedback Form
                        option(value="Checklist") Checklist
                        option(value="Others") Others
                tr
                  td Upload File
                  td
                    input#myFileInput(type="file", name="formFile")
                tr
                  td Remarks
                  td 
                    textarea.form-control(type='text',value='',id='formRemarks', placeholder='Financial Hold/ Term Payment/ etc.', style="max-width: 500px;")
            // /.table-responsive
        .modal-footer
          button.addFormButton.btn.btn-save(type="button", data-dismiss="modal") Add Form
      // /.modal-content
    // /.modal-dialog
  // /.modal

