template(name="loginLayout")
  style.
    h1 {
      text-align: center;
      color: #ddd;
      text-shadow: 0px 2px 3px #666;
    }
    .panel-default {
      background-color: #333333;
    }
    .panel-body {
      border-color: #42DCA3;
    }
    body {
      background-color: #333333;
    }
    i {
      color: #42dca3;
    }
    span {
      border-color: #42dca3;
    }
    .alignMiddle {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) 
    }

  .container.alignMiddle
    h1 Sterling Training Hub
    +yield

template(name="loginModal")
  if isLoggedIn
    .alert.alert-success
      | Redirecting to Admin Dashboard
  else 
    +login

template(name="checkUserLogin")
  if isLoggedIn
    // Do nothing
  else 
    +login

template(name="login")
    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .login-panel.panel.panel-default
          .panel-heading
            a.close(href="/website") &#215;
            h3.panel-title Sterling Portal Login
              span.i.fa.fa-sign-in.fa-fw
          .panel-body
            form#sign-up-form(role="form")
              fieldset
                .form-group.input-group
                  span.input-group-addon(style="background-color: #333; border-color: #42dca3")
                    i.fa.fa-envelope.fa-fw
                  input#login-email.form-control(type="email", placeholder="E-mail", name="email", autofocus="")
                .form-group.input-group
                  span.input-group-addon(style="background-color: #333; border-color: #42dca3")
                    i.fa.fa-key.fa-fw
                  input#login-password.form-control(type="password", placeholder="Password", name="password", value="")
                if errorMessage
                  .alert.alert-danger
                    | #{errorMessage}
                if signInSuccessMessage
                  .alert.alert-success
                    | #{signUpSuccessMessage}

                input#login-button.admin-btn.form-control(type="submit", value="LOGIN")
            .row
              .col-sm-12.col-xs-12
                button#sign-up-button.btn.btn-link.form-control(type="button", onClick='resetPassword') Forget Password