template(name="lspRespo")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header LSP Form Repository       
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 LSP Form
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addNewLSPForm" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | LSP Form
            +addNewLSPFormForm

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Form Name
                    th Category
                    th Upload Date
                    th Download
                    th Version Number
                tbody
                  each upload
                    tr
                      td #{name}
                      td #{category}
                      td {{formatDate uploadedAt}}
                      td(width="50px") 
                        a(href="{{url download = true}}", class="button btn admin-btn") Download
                      td #{version}


template(name="addNewLSPFormForm")
  #addNewLSPForm.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New LSP Form
        .modal-body
          form(role="form", id="insert-addNewLSPForm", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Category
                  td 
                    .form-group
                      select(id="categoryName", style="color: black")
                        option(value="") Select Option
                        option(value="Review Form") Review Form
                        option(value="Feedback Form") Feedback Form
                        option(value="Checklist") Checklist
                        option(value="Others") Others
                tr
                  td Upload File
                  td
                    input#myFileInput(type="file", name="formFile")
                tr
                  td Remarks
                  td 
                    textarea.form-control(type='text',value='',id='formRemarks', placeholder='Financial Hold/ Term Payment/ etc.', style="max-width: 500px;")
            // /.table-responsive
        .modal-footer
          button.addFormButton.btn.btn-save(type="button", data-dismiss="modal") Add Form
      // /.modal-content
    // /.modal-dialog
  // /.modal

